//------------------------------

// For timer text:
/* cute-font-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: Cute Font !important;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cute-font-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/cute-font-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cute-font-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cute-font-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cute-font-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cute-font-v20-latin-regular.svg#CuteFont') format('svg'); /* Legacy iOS */
}
//------------------------------


// For all text except timer text:

/* mitr-200 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: Mitr !important;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/mitr-v11-latin_latin-ext-200.eot'); /* IE9 Compat Modes */
    src: url('../fonts/mitr-v11-latin_latin-ext-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/mitr-v11-latin_latin-ext-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/mitr-v11-latin_latin-ext-200.woff') format('woff'), /* Modern Browsers */
         url('../fonts/mitr-v11-latin_latin-ext-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/mitr-v11-latin_latin-ext-200.svg#Mitr') format('svg'); /* Legacy iOS */
  }
  /* mitr-300 - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: Mitr !important;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/mitr-v11-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
    src: url('../fonts/mitr-v11-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/mitr-v11-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/mitr-v11-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/mitr-v11-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/mitr-v11-latin_latin-ext-300.svg#Mitr') format('svg'); /* Legacy iOS */
  }
  /* mitr-regular - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: Mitr !important;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mitr-v11-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/mitr-v11-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/mitr-v11-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/mitr-v11-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/mitr-v11-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/mitr-v11-latin_latin-ext-regular.svg#Mitr') format('svg'); /* Legacy iOS */
  }
  /* mitr-500 - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: Mitr !important;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/mitr-v11-latin_latin-ext-500.eot'); /* IE9 Compat Modes */
    src: url('../fonts/mitr-v11-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/mitr-v11-latin_latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/mitr-v11-latin_latin-ext-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/mitr-v11-latin_latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/mitr-v11-latin_latin-ext-500.svg#Mitr') format('svg'); /* Legacy iOS */
  }
  /* mitr-600 - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: Mitr !important;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/mitr-v11-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
    src: url('../fonts/mitr-v11-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/mitr-v11-latin_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/mitr-v11-latin_latin-ext-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/mitr-v11-latin_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/mitr-v11-latin_latin-ext-600.svg#Mitr') format('svg'); /* Legacy iOS */
  }
  /* mitr-700 - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: Mitr !important;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/mitr-v11-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/mitr-v11-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/mitr-v11-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/mitr-v11-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/mitr-v11-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/mitr-v11-latin_latin-ext-700.svg#Mitr') format('svg'); /* Legacy iOS */
  }


//------------------------------------------------------------------------------

// App returns one outer div, which contains three divs:
// 1)  div of classsName "appContainerOne"
//     This contains a <p> for the text of the header
// 2)  div of className "appContainerTwo" 
//     this is a flexbox that contains two divs in a row,
//     one for the times, one for the cards
// 3)  div of className "appContainerThree"
//     this contains two divs in a row, one for the timer
//     and one for the buttons



.appOuterContainer{
display:flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
flex-wrap: wrap;


border-color: rgb(128, 0, 255);
border-width: 5px;
border-style: solid;

position: absolute;
top: 0px;
left: 0px;

width: 1733px;
height: 1000px;

margin: 0px;
padding: 0px;
                 }

// 1)
// The div that contains the text
// "Memorisation step" or "Recall step".
// It contains a <p> :
.appContainerOne{
border-color: rgb(106, 0, 255);
border-width: 2px;
border-style: solid;

width: 100%;
height: 10%;

margin: 0px;
padding: 0px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

                }

// The <p> for text "Memorisation step" or "Recall step"::after
.appHeader{
    
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 700;    
    font-size: 86px;
    line-height: 89px;

    color: #7b0df1;

margin-left: 5px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 10px;

padding: 0px;

         }

//-------------------

// 2)
// The div that contains x elements:
// a) a div containing <p> "Times"
// a) a div containing the list of times
// a div containing the cards
.appContainerTwo{
display:flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;

width: 23%;
height: 87%;

/*
border-color: green;
border-width: 2px;
border-style: dotted;
*/

                }

// The div that contains 
// i)  the div that contains the 
//     <p> for text "Times" and 
// ii) the div that contains the
//     actual times:
.timesOuterContainer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-color: rgb(87, 0, 128);
    border-width: 2px;
    border-style: solid;

    width: 95%;
    height: 100%;
                   }

// The div that contains the <p>
// for text "Times"
.timesTextContainer{
    width: 100%;
    height: 40px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

 //   border-bottom: double 5px #6e097d;
    
                    }

// The <p> for the text "Times":
.timesText{
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 31px;

    margin: 0px;
    padding: 0px;
          }

// The div that contains the actual times:
.timesContainer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 
    width: 100%;
    height: 90%;

               }
    
//-------------------

// styles for the modal:


// The div that is semi-opaque
// that sits on top of the whole 
// field of view and on top of which 
// the actual modal sits:

.modal-Semi-Opaque-Div{
  position: absolute;
  
  height:100%; // % of div of className cardContainerAllEnclosingDiv
  width:100%;
  
  top: 00px;
  left: 00px;
  
  // background-color: rgba(241, 159, 159, 0.1);
  background-color: rgba(57, 57, 62, 0.6);

  z-index: 99;
                  }  





// the div for the actual 
// modal itself:
.modalEnclosingDiv{
position: absolute;
top: 100px;
left: 300px;

width: 600px;
height: 200px;

background-color: #d294db;
// box-shadow: 8px 8px 7px rgba(0, 0, 0, 1);
box-shadow: 18px 18px 27px rgba(0, 0, 0, 0.75), 8px 8px 17px rgba(0, 0, 0, 1);

border-radius: 15px;
border: #8007f2 4px solid;

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;

z-index: 100;
                  }

// The div that contains the 
// <p> for the modal message 
// text:
.modal-Text-Container{
width: 97%;
height: 65%;

border: #0404f1 1px dotted;

padding: 5px;
                     }


// The <p> for the modal message:
.modal-Message-Text{
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 200;
  font-size: 36px;
  line-height: 43px;

  padding: 0px;
  margin: 0px;


            }


// The div that contains the 
// OK and Cancel buttons for 
// the modal:
.modal-Button-Container{
  width: 97%;
  height: 37%;
  
  border: #262636 1px dotted;

  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
                       }





//-------------------

// 3)
// The div that contains 

.appContainerThree{
position: relative;

width: 77%;
height: 87%;

/*
border-color: greenyellow;
border-width: 12px;
border-style: dotted;
*/
                  }

// div that contains the greenfelt image only
.greenFeltContainer{
    width: 1328px;
height: 71%;

position: absolute;
top: 0px;
left: 0px;

z-index: -10;


border-color: rgb(195, 0, 255);
border-width: 1px;
border-style: solid;

overflow: hidden
}

// the img for the greenfelt:
.greenFeltImg{
    width: 100%;
    height: 100%;


             }




// for the div that contains a menu 
// header in the dropdown lists:
.menuHeaderContainer{
    background-color: rgb(169, 44, 188);
    /*
    border-style: solid;
    border-width: 1px;
    border-color: $browniesLightBlue;  
    */
    
    width: 100%;
    height: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 0px;
    margin-bottom: 2px;
    
    z-index: 20;

                    }
    
    
    .menuHeaderContainer:hover{
      background-color: rgb(229, 155, 236);
                            }



// for the div that contains a menu item
// in the dropdown lists:
.menuItemContainer{
background-color: rgb(190, 84, 141);
/*
border-style: solid;
border-width: 1px;
border-color: $browniesLightBlue;  
*/

width: 100%;
height: 20px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

padding: 0px;
margin-bottom: 2px;

z-index: 40;

// animation-name: rotateDropdownItems;
// animation-duration: 2s;
// animation-fill-mode: forwards;
// animation-timing-function: ease-in-out;
                }


.menuItemContainer:hover{
  background-color: rgb(236, 155, 198);
                        }                


// Animation for the divs in
// the dropdown list:
@keyframes rotateDropdownItems {
    0% {
        transform: rotateX(120deg);
        // transform: rotateY(30deg)
    }
    70% {
        transform: rotateX(-30deg);
        // transform: rotateY(-13deg)
    }
    100% {
        transform: rotateX(0deg) ;
        // transform: rotateY(0deg) 
    }
  }
  

// The <p> for the dd menu header texts
// "Card" and "Suit" and for dd menu 
// option text  
.optionTextCSSclass{
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 13px;

    letter-spacing: -1px;

    padding: 0px;
    margin: 0px;
                 }


// dropdown menu outer div.
// This is the div that 
// expands downwards or contracts
// upwards:
.ddMenuOuterContainer{
position: absolute;

width: 100%;

// height will be set as user
// clicks on this div (ie by the animation);

box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.35);

border-color: rgb(228, 24, 157);
border-width: 1px;
border-style: dotted;
border-radius: 5px;

/*
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
*/
overflow: hidden;

z-index: 10;

                    }


// For the <img/>s that are
// images of suits in the
// suit dd menu
.suitImg{
height: 100%;
width: 100%;
        }



// A div that contains the div that 
// contains the <DropDownMenu/>:
.ddMenuPositioningDivLeft{
position: absolute;
top: 0px;
left: 5px;

width: 42%; // this is 45% and 100% of the recall card width, height
height: 100%; 

/*
border-color: rgb(17, 16, 16);
    border-width: 1px;
    border-style: solid;
    */

                         }


// A div that contains the div that 
// contains the <DropDownMenu/>:
.ddMenuPositioningDivRight{
    position: absolute;
    top: 0px;
    right: 5px;
    width: 42%;
height: 100%;

/*
border-color: rgb(17, 16, 16);
    border-width: 1px;
    border-style: solid;
*/
                         }
    

// For the outer div of the dd 
// in the cards container
// (that the user clicks to show 
// key memory imnges):
.ddMenuForKeyMemoryImages{
  position: relative;
  width: 70px;
  height: 60px;
                         }


// For the div that contains the 
// two dd menus and the img of 
// the recalled card:
.recallCardIMGandDDmenusContainer{
  position: relative; // This is essential. without it the img in this div overflows the div
  align-self: stretch;
                                 }




// Three styles to apply conditionally to the 
// div that contains the dropdown list
// options:

// 0) To make the div neither grow nor shrink.
// This style simply gives the div a height
// equal to the height of one option (ie
// the same as the height of the heading div:
.neitherDDmenu{
  height: 20px;
              }


// 1) to make the div
// grow in height so that it shows all of the 
// dropdown list options:
.showDDmenu{
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.35);
  
    background-color: rgb(240, 157, 157);
  
    overflow-y: visible;
    
    width: 100%;

    animation-name: makeDDlistGrow;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    
                   }
  
  // 2) to make the div
  // shrink in height to 0px so that it disappears:
  .hideDDmenu {
    overflow-y: hidden;

    animation-name: makeDDlistVanish;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
              }
  
  // Two animations for the dropdown list,
  // one for the downward movement, one for the
  // upward movement:
  @keyframes makeDDlistGrow {
    0% {
      height: 0px;
    }
  
    80% {
      height: 150px;
    }
  
  
    100% {
      height: 132px;
    }
  }
  
  @keyframes makeDDlistVanish {
    0% {
      height: 180px;
      
    }
  
    80% {
      height: 60px;
    }
  
  
    100% {
      height: 20px;
      
    }
  }
  

// For the <ul> that is the dropdown menu:
.ulForDDownMenu{
    list-style-type: none;
      margin: 0;
      padding: 0;
  
    z-index: 40;
  
               }
  
  // The <p> for the text of each item
  // of the dropdown list:
  .dropdownMenuOptionText{
    
  font-family: 'Mitr';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 12px;
  
  color: rgb(0, 0, 0);
  
  margin: 0px;
  padding: 0px;
  
  }



//-----------------------------------------------------------------------------
// Styles for the <KeyImageText/>
// component


// The outer div
.key-imagetext-outer-container{
position: absolute;
left: 1000px;
top: 0px;

width: 500px;
height: 1000px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


border: #6e097d 4px solid;
border-radius: 10px;

background-color: #e1abf3;

box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
z-index: 200;
                              }


// The 1x14 grid that contains 
// the cards and their image texts:
.imageTextsGridDiv{
  width: 98%;
  height: 98%;
  
  display: grid;
      grid-template-rows: 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6%;
      grid-template-columns: 97%;  
      grid-column-gap: 2%;
      grid-row-gap: 0.2%;

border: #0404f1 1px solid;

                  }

// The div that contains everything that
// goes in one row of the grid.
// This div is itself a 1x3 grid and 
// contains these things:
// i)   the card div
// ii)  the image text div
// iii) the Change button div
.imageTextsRowDiv{
  border: #f259f2 1px solid;

  display: grid;
  grid-template-rows: 98%;
  grid-template-columns: 32% 32% 32%;  
  grid-column-gap: 1%;
  grid-row-gap: 0.5%;


                 } 



// The divs that contains either 
// i) "Card" or 
// the card text
// ii) "Image" or 
// image text
// iii) "Change" or 
// the change button:
.imageTextDivs{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border: #e4929a;
  border-width: 2px;
  border-style: solid;

  grid-column: span 1;
  grid-row: span 1;

  padding: 3px;

       }

// The div that contains the 
// input and the OK button
// for <KeyImageTextRow/>.
// This div contains
// i)   a div        
.inputContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: #e4929a;
  border-width: 2px;
  border-style: solid;

  grid-column: span 2;
  grid-row: span 1;

  padding: 3px;
              }

// for the input:
.keyImgTxtRowInput{
width: 75%;
height: 80%;
                  }

// THe <p> that goes in the 
// div of class imageTextDivs:
.imageTextP{
  font-family: Mitr !important;
  font-style: normal;
  font-weight: 400;

  font-size: 14px;
  line-height: 15px;

  padding: 0px;
  margin: 0px;
           } 

.imageTextPhead{
  font-family: Mitr !important;
  font-style: normal;
  font-weight: 400;

  font-size: 25px;
  line-height: 15px;

  padding: 0px;
  margin: 0px;
                }

// The div that goes at the top
// of the window and contains 
// "Suit:" and the image of the
// suit:
.suitImageContainerDiv{
  position: relative;
  width: 97%;
  height: 8%;

  border: #000000 1px solid;  
                      }

// The <p> that goes in the 
// div of class suitImageContainerDiv
// (along with the image of the 
// suit) and is the suit text,
// eg "Diamonds"
.suitP{
  position: absolute;
top:5px;
left: 20px;

  font-family: Mitr !important;
  font-style: normal;
  font-weight: 700;

  font-size: 45px;
  line-height: 46px;

  padding: 0px;
  margin: 0px;
    }

// The img that contains
// the image of the suit:
.suitIMG{
position: absolute;
top:5px;
right: 20px;

height: 90%;
width: 70px;
        }




// The div that positions the 
// Close button:
.close-button-positioning-div{
width: 80px;
height: 45px;

border: #000000 1px solid;

align-self: flex-end;
                              }                              




//-----------------------------------------------------------------------------

// The outermost div of <CardContainer>:
.cardContainerAllEnclosingDiv{
position: absolute;
top: 0px;
left: 0px;


width: 1325px;
height: 100%;


    border-color: #9208f4;
    border-width: 2px;
    border-style: solid;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
                            }


// The div that contains the cards.
// This is a grid of 4 rows and 13 cols:
.cardsContainer{

    position: relative;
    top: 5px;
    left: 5px;

    height: 70%;
    width: 100%;

    display: grid; 
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(4, 1fr);

/*
    border-color: rgb(244, 8, 8);
    border-width: 6px;
    border-style: dotted;
*/
               }



// The div that contains the 
// i)   the div containing the Next card and New deck buttons
// ii)  the div containing the timer
// iii) the div containing the Recall and Check buttons
// iv)  the div containing the dd for the card key memory images  
.cardsAreaButtonsAndTimerContainer{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
flex-wrap: wrap;

/*
border-color: rgb(14, 47, 230);
border-width: 2px;
border-style: dotted;
*/
height: 30%;
width: 100%;

padding-left: 20px;
                          }


// The div that contains the 
// Next card and New deck buttons:                  
.cardsAreaButtonsContainer{
    position: relative;
    top: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    border-color: #7b0df1;
    border-width: 2px;
    border-style: solid;
    border-radius: 55px;

    height: 30%;
    width: 350px;

    margin-right: 15px;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
                         }



// The div that contains the 
// Check buttons:                  
.cardsAreaCheckButtonContainer{
    position: relative;
    top: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    border-color: #7b0df1;
    border-width: 2px;
    border-style: solid;
    border-radius: 55px;
    
    height: 30%;
    width: 250px;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
                         }


.cards-area-dd-container{
  position: relative;
  top: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  border-color: #7b0df1;
  border-width: 2px;
  border-style: solid;
  border-radius: 55px;
  
  height: 30%;
  width: 150px;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

  margin-left: 20px;
}

// The <p> for the text
// "Info":
.infoTextP{

  font-family: Mitr !important;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 19px;

  margin: 0px;
          }

// To position the dd that goes
// under text "Info":
.ddPositionDiv{

position: relative;
top: -20px;

width: 30px;

}



// There will be 52 of this div on the 
// baize after the user clicks the 
// Recall button.
// This div contains:
// i)   the img for a card (face or back)
// ii)  the two dd lists where the user selects 
//      card number and suit:
.containerForBackOfCard{
    position: relative;
    top: 0px;
    left: 0px;
    
/*
    border-color: rgb(14, 205, 230);
    border-width: 2px;
    border-style: solid;
*/    
    
    overflow: visible;

    grid-column: span 1;
    grid-row: span 1;
            }



.recall-card-blocking-screen{
  position: absolute;
  top: 0px;
  left: 0px;
    width: 105%;
    height: 105%;
  z-index: 100;
  background-color:  rgba(0, 0, 0, 0.6);
                            }            





// For the divs that contain card <imgs>.
// Each of these divs goes into a grid position
// the div of className = "cardScene":
.cardBackImgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0px;
    left: 0px;

    backface-visibility:hidden;

    box-shadow: 6px 6px 6px rgb(0 0 0 / 0.7);

                    }
    
 // For the div that contains the img of the face of the 
 // card. This style is for the single div that goes into 
 // the div with className = "cardScene" when code in 
 // <CardsContainer/> wants a card face to show on re-render
 // but without the rotation:
.cardFrontImgContainerNoRotation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    box-shadow: 6px 6px 6px rgb(0 0 0 / 0.7);
                                }


// For the divs that contain card <imgs>.
// Each of these divs goes into a 
// div of className = "cardScene":
.cardFaceImgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    /*
    position: absolute;
    top: 0px;
    left: 0px;
    */

    backface-visibility:hidden;
    rotate: y 180deg;
    // transform: rotateY('180deg')

    box-shadow: 6px 6px 6px rgb(0 0 0 / 0.7);

                    }

    
    // For the card imgs:
    .cardImg{
    width: 100%;
    height: 100%;
    
            }

    // For the dontKnow img:
    .dontKnowImg{
        width: 70%;
        height: 100%;
        
                }
    

//--------------------------------------------------------------------------------------------------------------------


// Styles to do with the 3D movement (the spin
// around the Y axis) of the cards.

// For the scene in which the 3D card sits:
.cardScene{
    grid-column: span 1;
    grid-row: span 1;
    perspective: 30em;

          }
    
// For the cards:

// Apply to show back of card:
    .cardNoRotate{
    width:100%;
    height:100%;
    position:relative;

    
    // transition: transform 5s;
    transition: rotate 1s;
    transform-style: preserve-3d;
    
    rotate: y 180deg;
                 }

// Apply to show face of card:
.cardRotate{
    width:100%;
    height:100%;
    position:relative;

    // transition: transform 5s;
    transition: rotate 1s;
    transform-style: preserve-3d;
    
    rotate: y 180deg;
    // transform: rotateY('180deg')
           }


// The <img/> of the card that 
// appears in each grid position
// during the recall stage:
.recallCard{
position: absolute;
top: 20px;
left: 3px;
max-width: 100%;
max-height: 100%;

box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          }




.recallCardTest{
    position: absolute;
    top: 0px;
    left: 0px;
                }
    





.cardsAreaTestContainer{
width: 100%;
height: 18%;

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;

border-color: rgb(158, 14, 230);
border-width: 7px;
border-style: dotted;

}


// For the div that contains the 
// <img/> for the green tick, the 
// red cross or the text "Don't know"
.tickCrossOrDkImgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0px;
    left: 0px;

    z-index: 30;
                          }







.testCardContainer{
    display: grid;
    grid-template-columns: 42.5% 42.5%; 
    grid-template-rows: 90%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;


    width:230px;
    height:160px;

    background-color: #dfa5ab;
    
    margin-left: 20px;
            }

.testClass2{
    width:100%;
    height:100%;
    background-color: #2004f1;
            }


//-----------------------------------------------
  /* Styles for the <Table/>. */

  table {
    table-layout: fixed; // makes columns only as wide as column headings, then set column widths as below
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
  }


  thead th:nth-child(1) {
    width: 20%;
  }
 
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 20%;
  }
  
  thead th:nth-child(4) {
    width: 10%;
  }

  thead th:nth-child(5) {
    width: 10%;
  }
  thead th:nth-child(6) {
    width: 25%;
  }





th {
height: 19px;

}

table, td, th {
    border: 1px solid black;
  }

td th {
    text-align: center;
}


tbody tr:nth-child(odd) {
    background-color: #d1b9cb;
  }
  
  tbody tr:nth-child(even) {
    background-color: #976497;
  }


// For the <p>s in the <th>s:
.tableHeadP{
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    margin: 0px;
    padding: 0px;
    
           }

// For the <p>s in the <td>s:
.tableDP{
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
           }

// For the <div>s that contain 
// an img for a tick or a cross
// and that go in a <th>s
// :
.tableHdiv{
    
          }

// For the <img>s that are  
// ticks or crosses and that 
// go in divs of class 
// tableHdiv:
.tableHimg{
    width: 100%;
    height: 100%;
          }





//-----------------------------------------------


  /* Styles for the buttons. */

/* Main */
.mainButton{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
            
    
    width: fit-content;
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
    
    border: #b7e2fa80 1.5px outset ;
    border-radius: 5px 5px 5px 5px ;
    
    background-color: #6e097d;
    box-shadow: rgb(5, 5, 5) 1px 1px 5px;
    
    opacity: 1;
    pointer-events: auto;

    margin-right: 10px;
    

              }
            

  /* Change colour when 
  hovering over the button: */              
  .mainButton:hover{ 
    background-color: #b7e2fa80;
                  }  
  
  /*Depressed effect */
  .mainButton:active{   
    transform: translateY(4px);
    transform: translateX(4px);
    box-shadow: black 1px 1px 1px;
                   } 
  
  /* Disabled and faded */
  .mainButtonInoperable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: fit-content;
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
    
    border: none ;
    border-radius: 5px 5px 5px 5px ;
    
    background-color: #6e097d;
    box-shadow: none;
    
    opacity: 0.3;
    pointer-events: none;

    margin-right: 10px;
    

              }

// For the <p> for the 
// text of the button:
.mainButtonText {
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #271345;

            }

//----------------------------------------------------
// Styles for <Timer/>:

// For the all-enclosing div:
.timerEnclosingDiv{
    position: relative;
    top: 15px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-color: #7b0df1;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;

    height: 50%;
    width: 350px;

    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
                  }

// For the div that acts as a blocking screen:
.timer-blocking-screen-div{
position: absolute;
top: 0px;
left: 0px;
  width: 100%;
  height: 100%;
z-index: 1;
background-color:  rgba(0, 0, 0, 0.8);
                          }


// For the divs that enclose the 
// timer texts:
.timerTextEnclosingDiv{
width: 100%;
height: 45%;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

/*
border: #f40b0b;
border-width: 2px;
border-style: dotted;
*/

                     }

// For the div that encloses the 
// Start/Stop and End buttons:
.timerButtonEnclosingDiv{
    width: 100%;
    height: 45%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /*
    border-color: #7b0df1;
    border-width: 2px;
    border-style: dotted;
    */



    
                         }
    

// For the div that contains the 
// divs that contain the <p>s
// for the hours numbers and units:                         
.timerHoursContainer{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
                    }

// The div that contains the 
// <p> for the hours number
// text (eg "04").
.timerHoursNumberContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
                      }
// The div that contains the 
// <p> for the hours unit text
// ("h").
.timerHoursHContainer{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
                      }


// For the div that contains the 
// divs that contain the <p>s
// for the minutes numbers and units:                         
.timerMinutesContainer{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
                    }


// The div that contains the 
// <p> for the minutes number
// text (eg "04").
.timerMinsNumberContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
                      }
// The div that contains the 
// <p> for the minutes unit text
// ("mins").
.timerMinsMinsContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
                      }


// For the div that contains the 
// divs that contain the <p>s
// for the seconds numbers and units:                         
.timerSecondsContainer{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
                    }


// The div that contains the 
// <p> for the seconds number
// text (eg "41").
.timerSecsNumberContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
                      }
// The div that contains the 
// <p> for the hours unit text
// ("s").
.timerSecsSecsContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
                      }



// For the <p> for the time text:
.timerTextP{
    font-size: 56px;
    line-height: 57px;
    font-family: 'Cute Font';
    font-style: normal;
    font-weight: 400;
          }

// For the <p> for the text of 
// the time units
// ("h", "mins" or "secs"):

.timerTextUnit{
    font-size: 36px;
    line-height: 57px;
    font-family: 'Cute Font';
    font-style: normal;
    font-weight: 200;
    color: #717171;
          }

.timerHR{
        width: 100%;
        height: 3px;
        margin-left: auto;
        margin-right: auto;
        background-color: #d5b7e2;
        border: 0 none;
        }
          


//----------------------------------------------------

// Styles to do with component <RectAndDDMenu/>

// The main rectangle in which the 
// dd menus appear
.mainRect{

    border: #e4929a;
    border-width: 2px;
    border-style: solid;

    grid-column: span 1;
    grid-row: span 1;

         }



//----------------------------------------------------

// Styles to do with the <BottomBar/> component

// For the <BottomBar/>
// all-enclosing div:
.bottomBar{
width: 100%;
height: 100%;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
          }


// For the <BottomBar/> div that 
// contains the <Timer/> component:
.bottomBarContainerOne{
    width: 65%;
    height: 100%;

    border: #f1041c;
    border-width: 2px;
    border-style: dotted;



                      }


// For the <BottomBar/> div that contains the 
// Next card and New deck buttons:
.bottomBarContainerTwo{
    width: 35%;
    height: 100%;

display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;


border: #040cf1;
border-width: 2px;
border-style: dotted;

                      }




//--------------------------------------------------------------------------------

// Test styles

.testDivRedBackground{
background-color: #f1041c;
border: #0a0a1b 2px solid;
                     }

.testDivBlueBackground{
    background-color: #0404f1;
    border: #0a0a1b 2px solid;
                      }
    





